@font-face {
  font-family: "Poppins";
  src:url(../../fonts/poppins/Poppins-Regular.ttf);
};
@font-face {
  font-family: "montserrat";
  src:url(../../fonts/montserrat/Montserrat-Regular.ttf);
};
$Poppins:"Poppins";
$montserrat:"montserrat";