@mixin flex($js , $ai) {
  display: flex;
  justuify-content: $js ;
  align-items: $ai;
  @content;
}

@mixin ziro_space{
  margin: 0;
  padding: 0;
};
@mixin transition($type){
transition: $type 0.3s ease;
};